.Basket * {
    box-sizing: border-box;
    /* border: 1px solid #f00; */
}

.Basket {
    width: 80%;
    margin: auto;
}

.BasketItem,
.BasketPromoInfo,
.BasketTotal {
    padding: 10px 20px;
}

.Basket-dark h2 {
    color: #fff;
}

.Basket-dark * {
    background: rgb(49, 49, 49) !important;
    color: #fff;
}

.Basket-debug * {
    border: 1px solid #f00 !important;
}
